:root {
  --color-1: #0085c7;
  --color-2: #ffb114;
  --color-3: #000000;
  --color-4: #009f3d;
  --color-5: #df0024;
  --medal-size: 0.8rem;
  --stroke: 1.5rem;
}

.graph {
  width: calc(100% - 1rem);
  height: calc(100% - 2rem);
  display: grid;
  grid-template-columns: repeat(3, calc(var(--stroke) * 12));
  gap: var(--stroke);
  justify-content: center;
}

.continent {
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  grid-column: round(down, (var(--index) + 2)/2) / span 1;
  grid-row: 1 / span 1;
  width: calc(12 * var(--stroke));
}

.continent:nth-child(2n) {
  flex-direction: column-reverse;
  margin-top: calc(var(--stroke) * 5.5 + 52px);
  margin-left: calc(var(--stroke) * 6.5);
}

.continent header {
  height: 52px;
  display: flex;
  flex-direction: column;
  gap: 0.3;
}

.continent h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.continent b {
  font-weight: 600;
}

.continent__medals {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text);
}

.continent__medal {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.continent li::before {
  content: "";
  width: var(--medal-size);
  height: var(--medal-size);
  border-radius: 100%;
  display: block;
  background: linear-gradient(to bottom, var(--medal-start), var(--medal-end));
  box-shadow: inset 0px -1px 1px var(--medal-shadow);
}

.gold {
  --medal-start: #fdf5c3;
  --medal-end: #fbe334;
  --medal-shadow: #dac215;
}

.silver {
  --medal-start: #f3f0f0;
  --medal-end: #d2cdca;
  --medal-shadow: #a4a09d;
}

.bronze {
  --medal-start: #fce7bd;
  --medal-end: #fa9e1b;
  --medal-shadow: #d6830d;
}

.ring {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  position: relative;
}

.ring::before,
.ring::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  border: solid calc(var(--stroke) * var(--ratio) * 1.5) var(--color);
}

.ring::after {
  border-color: transparent;
}

.continent:nth-child(1) .ring::after {
  border-right-color: var(--color);
  z-index: 6;
}

.continent:nth-child(2) .ring::after {
  border-top-color: var(--color);
  z-index: 5;
}

.continent:nth-child(3) .ring::after {
  border-right-color: var(--color);
  z-index: 4;
}

.continent:nth-child(4) .ring::after {
  border-top-color: var(--color);
  z-index: 3;
}
